<div id="judechan">
	<span id="home"><a href="#">Domov</a></span>
	<div id="boards">
		<ul class="list" id="boardsList">
			{{#each boards}}
			<li><a href="#boards{{name}}threads">{{name}}</a></li>
			{{/each}}
		</ul>
	</div>
	<h1>{{title}}</h1>
	<p>
		Vítajte na {{title}}e. Teraz až o 88% autizmu viac!
	</p>
	<form id="form" method="POST">
	<div id="formContent"></div>
	</form>
	<div id="content"></div>
</div>

