<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/handlebars-v4.0.5.js'></script>
    <script type='text/javascript' src='/javascripts/jquery-2.2.4.min.js'></script>
    <script type='text/javascript' src='/javascripts/jquery.unveil.js'></script>
    <script type='text/javascript' src='/javascripts/underscore-min.js'></script>
    <script type='text/javascript' src='/javascripts/backbone-min.js'></script>
    <script type='text/javascript' src='/javascripts/judechan.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
