#boardsList {
	display: inline;
	list-style-type: none;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.postMedia {
	cursor: pointer;
	cursor: hand;
}